*{
	margin:0px;
	padding: 0px;
}
#elements{
background-color: orange;
width: 250px;
height: 250px;
text-align: center;
padding-top: 50px;

}
p{
	display: none;
}
input[type="radio"]{
	display: none;
}
input[type="radio"]:checked+p{
	display: block;
}